body {
    font-family: Calibri;
    display: flex;
    align-items: center;
    justify-content: center;

}

.game-board {

    background: #a3cfff;
    width: 700px;
    height: 250px;
    overflow: hidden;
}

.button-board {
    background: #a3cfff;
    width: 700px;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.game-score {
    text-align: center;
    font-weight: bold;
}

.game-tile {
    width: 200px;
    height: 200px;
    background: #1668FF url(/img/pytanie.png) center center no-repeat;
    margin: 0 auto;
    padding: 10px;
    justify-content: center;
    align-self: flex-start;

}

.game-button1 {
    width: 120px;
    height: 150px;
    cursor: pointer;
    background: #1668FF url(/img/papier.JPG) center center no-repeat;
    margin: 0 auto;
    padding: 10px;

}

.game-button2 {
    width: 120px;
    height: 150px;
    cursor: pointer;
    background: #1668FF url(/img/kamien.JPG) center center no-repeat;
    margin: 0 auto;
    padding: 10px;

}

.game-button3 {
    width: 120px;
    height: 150px;
    cursor: pointer;
    background: #1668FF url(/img/nozyce.JPG) center center no-repeat;
    margin: 0 auto;
    padding: 10px;

}

.button{
    background: #91B8FE;
    color: #1668FF;
    border: 5px solid #1668FF;
    border-radius: 5px;
    padding: 15px 20px;
    margin: 4px 3px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;



}