body {
    font-family: Calibri;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-board {

    background: #a3cfff;
    width: 700px;
    height: 250px;
    overflow: hidden;
    text-align:center
}

.button-board {
    background: #a3cfff;
    width: 700px;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.game-score {
    text-align: center;
    font-weight: bold;
}

.enemy-score {
    text-align: center;
    font-weight: bold;
}

.game-enemy {
    width: 160px;
    height: 170px;
    background: #1668FF  no-repeat;
    margin: 0 auto;
    padding: 13px;
    justify-content: center;
    align-self: flex-start;
}

.game-button1 {
    width: 120px;
    height: 150px;
    cursor: pointer;
    background: #1668FF url(img/paper.JPG) center center no-repeat;
    margin: 0 auto;
    padding: 10px;
}

.game-button2 {
    width: 120px;
    height: 150px;
    cursor: pointer;
    background: #1668FF url(img/rock.JPG) center center no-repeat;
    margin: 0 auto;
    padding: 10px;
}

.game-button3 {
    width: 120px;
    height: 150px;
    cursor: pointer;
    background: #1668FF url(img/scissors.JPG) center center no-repeat;
    margin: 0 auto;
    padding: 10px;
}

.game-reset{
    background: #91B8FE;
    color: #1668FF;
    border: 5px solid #1668FF;
    border-radius: 5px;
    padding: 15px 20px;
    margin: 4px 3px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}