body {
    font-family: Calibri, serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.question-mark {
    width: 200px;
    height: 200px;
    padding: 30px;
}

.user-buttons {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    width: 150px;
    height: 150px;
    cursor: pointer;
    margin: 0 50px 0 50px;
}

.reset-button {
    border: 1px solid #91B8FE;
    border-radius: 5px;
    padding: 15px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.score-container {
    display: flex;
    align-items: baseline;
}

.score {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: 10px;
}

.score-board {
    text-align: center;
    margin-top: 40px;
}
