body {
    font-family: Calibri;
    display: flex;
    align-items: center;
    justify-content: center;

}

.game-board {

    position: center;
    background: #a3cfff;
    width: 800px;
    height: 600px;
    border: 3px solid #3e82ff;
}

.game-score {
    text-align: center;
    font-weight: bold;
}


.button{
    background: #91B8FE;
    color: #1668FF;
    border: 5px solid #1668FF;
    padding: 15px 20px;
    margin: 4px 3px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;

}